
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Inicio de ejercicio */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  background: white;
  border-radius: 50px;
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 50px;
  width: 10px;
}

/* 
/* header */

.headerTop{
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url("/src/assets/product/cesped3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px; 
  height: 100%;
}

.logoContainer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  font-size: 80px;
  color: black;
  text-shadow: 
    -3px -3px 0 #ffff, 
     3px -3px 0 #ffff, 
    -3px 3px 0 #ffff, 
    3px 3px 0 #ffff;
}

.logo img {
  width: 100px;
}

.nav-Product{
  display: flex;
  flex-direction: center;
  align-items: end;
  width: 100%;
  background-color: black;
}


.navProduct{
  justify-content: center;
  align-items: center;
  gap: 90px;
  display: flex;
  height: 40px;
  width: 100%; 
}

.navProduct a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navProduct a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}


/* main */

main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/product/cesped1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  gap: 50px;
}

.product-card{
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 60px;

}


.productDetail {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

.productDetail button:hover {
  background-color: black;
  color: white;
}

.productDetail a:hover{
  background-color: black;
  color: white;
}

.productCard {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  width: 250px;
  height: 350px; 
  text-align: center;
  overflow: hidden; 
  cursor: pointer;
}

.productCard img {
  max-width: 100%;
  max-height: 60%; 
  object-fit: cover;
  margin-bottom: 10px; 
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
  text-align: center; 
}

.size-basket, .editDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: none;
  height: 40px;
  margin: 0;
  cursor: pointer;
}


.ImageCard img {
  width: auto; 
  height: 300px; 
  object-fit: cover; 
  max-width: 100%; 
  margin-bottom: 20px; 
}


.leyend {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 10px;
  width: 100;
  margin: 5px;
  gap: 5px;
  font-size: 20px;
  color: white;
  text-shadow: 
    -1.5px -1.5px 0 black, 
    1.5px -1.5px 0 black, 
    -1.5px 1.5px 0 black, 
    1.5px 1.5px 0 black;
}


.homeBtn {
  font-weight: bolder;
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
  margin: 10px;
}

.productCard a:hover{
  background-color: black;
  color: white;
}


.editBtn{
  font-weight: bolder;
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
  margin: 20px;
}

.deleteBtn{
  font-weight: bolder;
  display: inline-block;
  padding: 11px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
}



.product-card img{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 180px;
  margin-left: 0px;
  background-color: white;
  border-radius: 20px;
}


.size-basket button{
  font-weight: bolder;
  background-color: white;
  color: black;
  font-size: 18px;
  width: 180px;
  height: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  margin: 20px;
}

.size-basket input{
  font-weight: bolder;
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  width: 30px;
  height: 25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
  padding-left: 15px;
}

.sizeProduct{
  font-weight: bolder;
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
  padding-left: 10px;
  cursor: pointer;
}


/* Formulario */
form{
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: wrap;
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;margin-top: 30px;
	background-color: black;color: white;height: 800px;border-top-left-radius: 50px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;font-family: 'Roboto', sans-serif;font-size: 20px;
}

.createH2 {
  margin-left: 50px;
  margin-bottom: 2px;
  font-size: 30px;
  color: black;
  text-shadow: 
    -1.5px -1.5px 0 white, 
    1.5px -1.5px 0 white, 
    -1.5px 1.5px 0 white, 
    1.5px 1.5px 0 white;
}

.editH2 {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 30px;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"]{
	width: 378px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="number"]{
	width: 378px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form select[name="size"]{
  width: 400px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form select[name="category"]{
  width: 400px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]:hover{
	cursor:pointer;
}

form button[type="submit"]{
	width: 400px;
  height: 30px;
  border-radius: 4px;
  border-bottom-right-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  background-color: blue;
  border: none;
}

form button[type="submit"]:hover{
	background-color: red;
  color: white;
}

.formCreateProduct{
	width: 400px;
  height: 30px;
  border-bottom-right-radius: 50px;
  border: none;
}

.cancelButton{
	width: 400px;
  height: 30px;
  margin-top:10px;
  border-bottom-right-radius: 50px;
  border: none;
}


textarea{
	width: 150%;
	height:90px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
    color: black; 
}



/* Loader */
.loader{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite; 
}

.loader::before, 
.loader::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image: 
      linear-gradient(0deg, #f0c 0%, #80f 100%);
}

.loader::after {
  width: 85%;
  height: 85%;
  background-color: transparent; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* No Found */

.noFound {
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/product/cesped1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  flex-direction: column;
  gap: 20px;

}

.noFound h1,
.noFound p {
  font-size: 20px;
  color: white;
  text-shadow: 
    -1.5px -1.5px 0 black, 
    1.5px -1.5px 0 black, 
    -1.5px 1.5px 0 black, 
    1.5px 1.5px 0 black;
}



.noFoundBtn a {
  display: inline-block; 
  color: black; 
  background-color: white; 
  padding: 10px 20px; 
  border-radius: 30px; 
  text-decoration: none; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  transition: all 0.3s ease; 
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;
}


.noFoundBtn a:hover {
  background-color: black; 
  color: white; 
  text-decoration: none; 
}

/* ERRORES */
.message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

/*OK*/
.message.success {
  background-color: #4CAF50; 
  color: white;
}

/*ERROR*/
.message.error {
  background-color: #f44336; 
  color: white;
}